__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.codex
.vscode/
logs/
outputs/
wandb/
videos/
run/
runs/
/best_model/
/best_history_model/

# checkpoints and logs
best_model/
best_history_model/
best_model.zip
*.pth
*.pt
*.tfevents*
